---
import CloudflareStreamBackground from "../ui/CloudflareStreamBackground.astro";
import CloudflareStreamPopup from "../ui/CloudflareStreamPopup.astro";
---

<!-- hero -->
<section>
  <div class="max-w-[1440px] mx-auto w-full px-4 md:px-14 py-11">
    <a href="/">
      <img
        class="max-w-[160px] md:max-w-[222px] w-full h-auto md:h-10"
        src="/Logo_Sportfx.ai.png"
        alt="logo"
      />
    </a>
    <div class="pt-11">
      <h1
        class="font-plus-jakarta font-bold text-5xl md:text-7xl lg:text-8xl xl:text-9xl text-white text-center leading-[80%]"
      >
        Unlock the
      </h1>
      <h1
        class="font-sunrise font-light text-[60px] md:text-[90px] lg:text-[120px] xl:text-[150px] text-[#717171] text-center leading-[100%]"
      >
        Code
      </h1>
      <h1
        class="font-plus-jakarta font-bold text-5xl md:text-7xl lg:text-8xl xl:text-9xl text-white text-center leading-[60%]"
      >
        <span 
        style="background: linear-gradient(180deg, #FFFFFF 0%, #717171 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;"
        class=""> to your </span>
        <!-- background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(113, 113, 113, 0.6) 100%);
-->
        <span
          class="bg-gradient-to-r from-[#9DFFE3] to-[#C8FFE7] bg-clip-text text-transparent"
          >game</span
        >
      </h1>
    </div>
    <h4
      class="text-center font-medium font-plus-jakarta text-xl md:text-4xl lg:text-5xl xl:text-6xl leading-[87%] pt-14 bg-clip-text text-transparent"
      style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(113, 113, 113, 0.6) 100%);    background-clip: text; "
    >
      No Sensors. No Labs. No Limits.
    </h4>
    </h4>
    <div class="-mt-20 md:-mt-32 lg:-mt-44">
      <img
        src="/public/home/hero/hero_img.png"
        alt="hero"
        class="w-full h-[450px] md:h-[800px] lg:h-[1220px] object-contain"
      />
    </div>
   <div class="flex justify-center items-center -mt-10 md:-mt-24 lg:-mt-36 ">
    <button
    class="max-w-[120px] md:max-w-[220px] lg:max-w-[280px] xl:max-w-[314px] w-full h-8 md:h-[70px] flex justify-center items-center
   bg-[#00FFB7] rounded-lg md:rounded-[20px]  shadow-[0px_4px_53.7px_-22px_#00FFB7] text-[#121212] font-plus-jakarta font-semibold 
   text-[10px] md:text-lg lg:text-xl xl:text-2xl leading-[100%]  relative z-10 cursor-pointer mr-2 md:mr-10 lg:mr-[54px] xl:mr-8"
    >Reserve Your Access</button>
   </div>


  <div class="pt-10 md:pt-24 lg:pt-40">
    <h2
      class="max-w-[1094px] w-full mx-auto text-center font-plus-jakarta text-white font-bold text-[40px] lg:text-[60px] xl:text-[80px] leading-[100%]"
    >
      Welcome to the future of athletic performance.
    </h2>
    <div
      class="max-w-[1094px] w-full mx-auto flex flex-col gap-10 text-center font-plus-jakarta text-[#FAFAFA] font-thin text-[16px] lg:text-[24px] xl:text-[32px] leading-[100%] pt-7"
    >
      <p class="text-[#FAFAFA]">
        sportFX turns your phone into a biometrics lab - transforming data into
        meaning, and allowing you to talk to your game with a 24/7 coach.
      </p>

      <p class="font-medium text-[#FAFAFA]">

        <i>
          Know <span class="text-[#00FFB7]">why</span> it happened. Know how to <span class="text-[#00FFB7]">fix</span> it.
        </i>
      </p>
    </div>
    <div class="max-w-[1180px] w-full h-[194px] md:h-[666px] bg-transparent  mx-auto rounded-[20px] overflow-hidden  border mt-28">
      <CloudflareStreamBackground videoUID="132cd06ba8f1a59a05caf0703e671602" />
    </div>

  </div>

</div>
</section>

<!-- Video Popup Component -->

<!-- hero -->
