---
import MailchimpWaitlist from "../forms/mailchimp/MailchimpWaitlist.astro";
---

<section>
    <div class="max-w-[1440px] w-full mx-auto px-6 py-16">
        <div
        class="grid grid-cols-1 md:grid-cols-2 gap-6  w-full items-start justify-center"
      >
      
        <!-- Right: Waitlist Form -->
        <div class="flex-1 flex flex-col items-start justify-center w-full mt-20">
          <h2
            class="w-full text-center md:text-left text-2xl md:text-3xl lg:text-4xl xl:text-[60px] 
            font-bold text-white font-geist mb-10  leading-tight"
          >
          While They Wait, You’ll 
 <br />Be Winning.
          </h2>
          <MailchimpWaitlist />
        </div>
          <!-- Left: Mockup Image -->
          <div class="flex-1 flex items-start justify-center w-full">
            <img src="/landing/waitlist/waitlist_hand_2.png" alt="App Mockups" class="w-full" />
          </div>
      </div>
    </div>
</section>