---
// Pure Astro component -
const footerLinks = [
  { text: "NurivaTech A.I. Inc. 2025. All rights reserved.", href: null },
  { text: "Privacy Policy", href: "/privacy-policy" },
  { text: "Terms of Service", href: "/terms-of-service" },
];
---

<footer
  class="relative self-stretch w-full min-h-[300px] xl:min-h-[365px] bg-[#E7E8E9] pt-14 xl:pt-[100px]"
>
  <div
    class="relative w-full max-w-[90%] xl:max-w-[1280px] min-h-[300px] xl:min-h-[365px] mx-auto mt-12 xl:mt-[100px] bg-[#1E1E1E] rounded-[40px_40px_0px_0px] overflow-hidden flex flex-col justify-between"
  >
    <div
      class="py-[40px] px-10 md:px-[92px] font-['Geist',Helvetica] font-medium text-2xl md:text-3xl lg:text-5xl xl:text-[60px] leading-[99%] tracking-[-0.04em] text-[#E7E8E9]"
    >
      Because at <span
        class="bg-[conic-gradient(from_3.01deg_at_38.8%_-45.38%,_#C2FF35_0deg,_#32E6BC_146.52deg,_#27C5FF_360deg)] bg-clip-text text-transparent"
        >sportFX</span
      >, we don’t just track performance — we elevate it.
    </div>
    <div class="px-[46px]">
      <div
        class="flex flex-col xl:flex-row items-start xl:items-center gap-4 xl:gap-20 py-2.5 border-t border-neutral-50"
      >
        <div class="relative w-[120px] h-8">
          <svg
            width="120"
            height="32"
            viewBox="0 0 120 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M36.7219 22.0902C36.3855 22.0902 36.0745 22.0088 35.7892 21.8461C35.514 21.6731 35.2897 21.4493 35.1163 21.1748C34.9533 20.8901 34.8718 20.5798 34.8718 20.2441V20.1221H36.1256V20.2441C36.1256 20.4069 36.1817 20.5493 36.2938 20.6712C36.4161 20.7831 36.5588 20.8391 36.7219 20.8391H42.0424C42.2057 20.8391 42.3432 20.7831 42.4554 20.6712C42.5777 20.5493 42.6387 20.4069 42.6387 20.2441V18.8863C42.6387 18.7236 42.5777 18.5863 42.4554 18.4744C42.3432 18.3524 42.2057 18.2913 42.0424 18.2913H36.7219C36.3855 18.2913 36.0745 18.21 35.7892 18.0472C35.514 17.8743 35.2897 17.6506 35.1163 17.3759C34.9533 17.0912 34.8718 16.7809 34.8718 16.4453V15.0875C34.8718 14.7519 34.9533 14.4467 35.1163 14.1721C35.2897 13.8873 35.514 13.6636 35.7892 13.5008C36.0745 13.3279 36.3855 13.2415 36.7219 13.2415H42.0424C42.389 13.2415 42.6999 13.3279 42.9751 13.5008C43.2604 13.6636 43.4847 13.8873 43.6479 14.1721C43.8211 14.4467 43.9078 14.7519 43.9078 15.0875V15.2095H42.6387V15.0875C42.6387 14.9248 42.5777 14.7875 42.4554 14.6756C42.3432 14.5535 42.2057 14.4925 42.0424 14.4925H36.7219C36.5588 14.4925 36.4161 14.5535 36.2938 14.6756C36.1817 14.7875 36.1256 14.9248 36.1256 15.0875V16.4453C36.1256 16.608 36.1817 16.7504 36.2938 16.8725C36.4161 16.9844 36.5588 17.0403 36.7219 17.0403H42.0424C42.389 17.0403 42.6999 17.1268 42.9751 17.2997C43.2604 17.4624 43.4847 17.6862 43.6479 17.9709C43.8211 18.2456 43.9078 18.5507 43.9078 18.8863V20.2441C43.9078 20.5798 43.8211 20.8901 43.6479 21.1748C43.4847 21.4493 43.2604 21.6731 42.9751 21.8461C42.6999 22.0088 42.389 22.0902 42.0424 22.0902H36.7219ZM45.445 25.5992V13.2415H52.631C52.9674 13.2415 53.2732 13.3279 53.5483 13.5008C53.8337 13.6636 54.0579 13.8873 54.221 14.1721C54.3943 14.4467 54.481 14.7519 54.481 15.0875V20.2441C54.481 20.5798 54.3943 20.8901 54.221 21.1748C54.0579 21.4493 53.8337 21.6731 53.5483 21.8461C53.2732 22.0088 52.9674 22.0902 52.631 22.0902H46.6988V25.5992H45.445ZM47.3104 20.8391H52.631C52.794 20.8391 52.9316 20.7831 53.0437 20.6712C53.1662 20.5493 53.2272 20.4069 53.2272 20.2441V15.0875C53.2272 14.9248 53.1662 14.7875 53.0437 14.6756C52.9316 14.5535 52.794 14.4925 52.631 14.4925H47.3104C47.1472 14.4925 47.0046 14.5535 46.8821 14.6756C46.7599 14.7875 46.6988 14.9248 46.6988 15.0875V20.2441C46.6988 20.4069 46.7599 20.5493 46.8821 20.6712C47.0046 20.7831 47.1472 20.8391 47.3104 20.8391ZM57.4022 22.0902C57.0658 22.0902 56.755 22.0088 56.4695 21.8461C56.1943 21.6731 55.9701 21.4493 55.7969 21.1748C55.6337 20.8901 55.5521 20.5798 55.5521 20.2441V15.0875C55.5521 14.7519 55.6337 14.4467 55.7969 14.1721C55.9701 13.8873 56.1943 13.6636 56.4695 13.5008C56.755 13.3279 57.0658 13.2415 57.4022 13.2415H62.7228C63.0693 13.2415 63.3803 13.3279 63.6555 13.5008C63.941 13.6636 64.165 13.8873 64.3283 14.1721C64.5015 14.4467 64.5881 14.7519 64.5881 15.0875V20.2441C64.5881 20.5798 64.5015 20.8901 64.3283 21.1748C64.165 21.4493 63.941 21.6731 63.6555 21.8461C63.3803 22.0088 63.0693 22.0902 62.7228 22.0902H57.4022ZM57.4022 20.8391H62.7228C62.886 20.8391 63.0236 20.7831 63.1357 20.6712C63.258 20.5493 63.319 20.4069 63.319 20.2441V15.0875C63.319 14.9248 63.258 14.7875 63.1357 14.6756C63.0236 14.5535 62.886 14.4925 62.7228 14.4925H57.4022C57.2392 14.4925 57.0964 14.5535 56.9741 14.6756C56.862 14.7875 56.8059 14.9248 56.8059 15.0875V20.2441C56.8059 20.4069 56.862 20.5493 56.9741 20.6712C57.0964 20.7831 57.2392 20.8391 57.4022 20.8391ZM66.0041 22.0902V15.0875C66.0041 14.7519 66.0857 14.4467 66.2487 14.1721C66.4221 13.8873 66.6463 13.6636 66.9215 13.5008C67.2068 13.3279 67.5178 13.2415 67.8542 13.2415H72.8386V14.4925H67.8542C67.6912 14.4925 67.5484 14.5535 67.4261 14.6756C67.314 14.7875 67.2579 14.9248 67.2579 15.0875V22.0902H66.0041ZM75.6933 22.0902C75.3468 22.0902 75.0306 22.0088 74.7453 21.8461C74.4701 21.6731 74.251 21.4493 74.0878 21.1748C73.9248 20.8901 73.8432 20.5798 73.8432 20.2441V10.3428H75.097V13.2415H78.9346V14.4925H75.097V20.2441C75.097 20.4069 75.1531 20.5493 75.2652 20.6712C75.3875 20.7831 75.5301 20.8391 75.6933 20.8391H78.9346V22.0902H75.6933ZM80.1143 22.0902V12.1888C80.1143 11.843 80.1958 11.5328 80.3588 11.2581C80.5219 10.9734 80.7412 10.7496 81.0163 10.5869C81.3017 10.4241 81.6176 10.3428 81.9641 10.3428H85.2056V11.5938H81.9641C81.8011 11.5938 81.6583 11.6548 81.5361 11.7769C81.4239 11.8887 81.3679 12.0261 81.3679 12.1888V13.2415H85.2056V14.4925H81.3679V22.0902H80.1143ZM86.2335 22.0902V22.0749L89.9334 17.5895L86.2335 13.2567V13.2415H87.8847L90.7589 16.5979L93.6486 13.2415H95.2845V13.2567L91.5846 17.5895L95.2999 22.0749V22.0902H93.6486L90.7589 18.5507L87.8847 22.0902H86.2335ZM96.9418 22.0902V20.8391H98.1954V22.0902H96.9418ZM102.031 22.0902C101.695 22.0902 101.384 22.0088 101.098 21.8461C100.823 21.6731 100.599 21.4493 100.426 21.1748C100.262 20.8901 100.181 20.5798 100.181 20.2441V17.0403H107.948V15.0875C107.948 14.9248 107.887 14.7875 107.765 14.6756C107.652 14.5535 107.515 14.4925 107.352 14.4925H100.181V13.2415H107.352C107.698 13.2415 108.009 13.3279 108.284 13.5008C108.57 13.6636 108.794 13.8873 108.957 14.1721C109.13 14.4467 109.217 14.7519 109.217 15.0875V22.0902H102.031ZM102.031 20.8391H107.948V18.2913H101.435V20.2441C101.435 20.4069 101.491 20.5493 101.603 20.6712C101.725 20.7831 101.868 20.8391 102.031 20.8391ZM110.797 22.0902V13.2415H112.051V22.0902H110.797ZM110.797 11.5938V10.3428H112.051V11.5938H110.797Z"
              fill="#FAFAFA"></path>
            <path
              d="M6.20689 16.1035H11.5133L14.8426 21.3381H20.0386L16.989 16.1035H22.0872L25.4483 21.3381L22.8426 25.8067H14.1456L11.1969 23.96L6.20689 16.1035Z"
              fill="#FAFAFA"></path>
            <path
              d="M30.2069 15.8966H24.9006L21.5712 10.6619H16.3752L19.4247 15.8966H14.3267L10.9655 10.6619L13.5712 6.19336H22.2681L25.217 8.03992L30.2069 15.8966Z"
              fill="#FAFAFA"></path>
          </svg>
        </div>

        <!-- Footer links -->
        {
          footerLinks.map((link) =>
            link.href ? (
              <a
                href={link.href}
                class="font-['Geist',Helvetica] font-normal text-neutral-50 text-sm tracking-[-0.70px] leading-[19.6px] whitespace-nowrap hover:text-neutral-300 transition-colors duration-200"
              >
                {link.text}
              </a>
            ) : (
              <div class="font-['Geist',Helvetica] font-normal text-neutral-50 text-sm tracking-[-0.70px] leading-[19.6px] whitespace-nowrap">
                {link.text}
              </div>
            )
          )
        }
        <a
          class="font-['Geist',Helvetica] font-normal text-neutral-50 text-sm tracking-[-0.70px] leading-[19.6px] whitespace-nowrap"
          href="mailto:support@sportfx.ai"
        >
          support@sportfx.ai
        </a>

        <!-- Social media icons -->
        <a
          href="https://x.com/SportFXai"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="relative">
            <!-- X Icon -->
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_22_1275)">
                <path
                  d="M11.0258 0.500977H13.1726L8.48254 6.00708L14 13.4997H9.67988L6.29619 8.95543L2.42452 13.4997H0.276444L5.29292 7.61025L0 0.500977H4.42977L7.48832 4.65456L11.0258 0.500977ZM10.2724 12.1798H11.4619L3.78344 1.75151H2.50692L10.2724 12.1798Z"
                  fill="white"></path>
              </g>
              <defs>
                <clipPath id="clip0_22_1275">
                  <rect
                    width="14"
                    height="13"
                    fill="white"
                    transform="translate(0 0.5)"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
        </a>

        <a
          href="https://www.instagram.com/sportfx.ai"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="relative">
            <!-- Instagram Icon -->
            <div class="relative flex items-center gap-2">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_22_1270)">
                  <path
                    d="M11.3334 1.33301H4.66671C2.82576 1.33301 1.33337 2.82539 1.33337 4.66634V11.333C1.33337 13.174 2.82576 14.6663 4.66671 14.6663H11.3334C13.1743 14.6663 14.6667 13.174 14.6667 11.333V4.66634C14.6667 2.82539 13.1743 1.33301 11.3334 1.33301Z"
                    stroke="#FAFAFA"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M10.6667 7.5802C10.7489 8.13503 10.6542 8.70168 10.3958 9.19954C10.1375 9.69741 9.72877 10.1011 9.22776 10.3533C8.72675 10.6055 8.15897 10.6933 7.6052 10.6042C7.05143 10.515 6.53985 10.2536 6.14323 9.85698C5.74662 9.46036 5.48516 8.94878 5.39605 8.39501C5.30694 7.84124 5.39472 7.27346 5.64689 6.77245C5.89907 6.27144 6.3028 5.86269 6.80066 5.60436C7.29853 5.34603 7.86518 5.25126 8.42001 5.33353C8.98596 5.41746 9.50991 5.68118 9.91447 6.08574C10.319 6.4903 10.5828 7.01425 10.6667 7.5802Z"
                    stroke="#FAFAFA"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M11.6666 4.33301H11.6733"
                    stroke="#FAFAFA"
                    stroke-width="0.833333"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </g>
                <defs>
                  <clipPath id="clip0_22_1270">
                    <rect width="16" height="16" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
